@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

html {
    scroll-behavior: smooth;
}


body {
    /* font-family: "Lato", sans-serif !important; */
    font-family: "Source Code Pro", sans-serif !important;
    font-weight: 100;
    font-style: normal;
    /* background-color: #55555515 !important; */
    /* background-color: #3f413f !important; */

}

.nome {
    font-weight: 900 !important;
}

.logo {
    width: 400px;
    height: 400px;
    border-radius: 50%;
}
.dados{
    margin-top: 30px !important;
}
.mfs {
    margin-top: -90px !important;
}

@media (max-width: 413px) {
     .logo {
        width: 200px;
        height: 200px;
    }
}


.jumbotron {
    height: 100vh;
    color: rgb(0, 0, 0) !important;
    display: flex;
    align-items: center;
    background-color: transparent !important;
}

.section-title {
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.logo {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.navbar {
    font-size: 16pt !important;
}

.nav-link,
.navbar-brand {
    color: rgb(0, 0, 0) !important;
    font-size: 15pt !important;
}

.navbar-brand {
    font-size: 20pt !important;
    font-weight: 800;

}

.btn-custom {
    margin: 10px 5px;
}

.icon-container {
    margin-top: 20px;
}

.icon-container ion-icon {
    font-size: 30px;
    margin: 0 10px;
}

.btn {
    height: 50px;
    width: 150px;
    border-radius: 30px !important;
}

.btn-outline-primary {
    color: black !important;
    border-color: black !important;
}

.btn-outline-primary:hover {
    background-color: rgba(2, 2, 2, 0.37) !important;
    color: black !important;
    transition: 0.5s;
}

.navbar-toggler ion-icon {
    font-size: 25pt;
}

.nav-link:hover {
    color: rgb(134, 128, 128) !important;
    transition: 0.3s;
}

.icon-container a ion-icon {
    color: black;
}

.icon-container a ion-icon:hover {
    color: rgb(114, 102, 102);
    transition: 0.5s;
}

body::-webkit-scrollbar {
    width: 12px;
    /* largura da scrollbar */
}

body::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* cor de fundo da track */
}

body::-webkit-scrollbar-thumb {
    background-color: #888;
    /* cor do thumb */
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* cor do thumb no hover */
}

.navbar-nav li {
    margin-left: 30px;
}


.circle-1 {
    position: absolute;
    background-color: rgb(255, 8, 8);
    left: 78px;
    bottom: 1px;
    width: 418px;
    height: 418px;
    border-radius: 50%;
}

.circle-1 {
    width: 418px;
    height: 418px;
    border: 3px dashed #000000d7;
    border-radius: 50%;
    animation: rotate 0.5s linear infinite;
    animation-delay: 50ms;
}

@keyframes rotate {
    0% {
        transform: rotate(-10deg);
        opacity: 50%;
    }

    50% {
        transform: rotate(-20deg);
    }

    100% {
        transform: rotate(-30deg);
    }
}

/* cards */

.cards {
    border-top-left-radius: 20px;
    width: 100px;
    height: 100px;
    background-color: #888;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    cursor: pointer;
    border-bottom: 7px solid #555;
}

.cards:hover {
    transform: scale(1.1);

}

.cards ion-icon {
    font-size: 50pt;
    color: white;
}

.cards p {
    margin-bottom: -2px;
    font-size: 10pt;
}
svg{
    width: 60px;
    height: 60px;
    
}